<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lab2_PWS</title>
    <meta charset="utf-8" />
    <script src="../Scripts/jquery-3.3.1.js"></script>
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        <p id="result-field"></p>
        <input type="text" id="text-result" />
        <br /><input type="button" id="button-get" onclick="getResult()" value="Get" />
        <br /><input type="button" id="button-post" onclick="postResult()" value="Post" />
        <br /><input type="button" id="button-put" onclick="putResult()" value="Put" />
        <br /><input type="button" id="button-delete" onclick="deleteResult()" value="Delete" />
    </div>

    <script>function getResult() {
            $.ajax({
                url: "http://localhost:49817/api/API",
                type: "GET",
                success: result => {
                    $("#result-field").html(JSON.stringify(result));
                },
                error: (error) => {
                    console.log(error);
                }
            })
        }

        function postResult() {
            $.ajax({
                url: "http://localhost:49817/api/API",
                type: "POST",
                data: $("#text-result").val(),
                headers: {
                    "Content-Type": "application/json"
                },
                success: result => {
                    $("#result-field").html(JSON.stringify(result));
                },
                error: (error) => {
                    console.log(error);
                }
            })
        }

        function putResult() {
            $.ajax({
                url: "http://localhost:49817/api/API",
                type: "PUT",
                data: $("#text-result").val(),
                headers: {
                    "Content-Type": "application/json"
                },
                success: result => {
                    $("#result-field").html(JSON.stringify(result));
                },
                error: (error) => {
                    console.log(error);
                }
            })
        }

        function deleteResult() {
            $.ajax({
                url: "http://localhost:49817/api/API",
                type: "DELETE",
                success: result => {
                    $("#result-field").html(JSON.stringify(result));
                },
                error: (error) => {
                    console.log(error);
                }
            })
        }</script>

</body>
</html>
